In [ ]:
import numpy as np

scores = np.random.randint(50, 101,size=(50,5))
scores

In [4]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文", "英文", "數學", "地理", "歷史"]
)
df

      國文   英文   數學   地理  歷史
學生1   53  100   79   62  51
學生2   79   90   81   86  61
學生3   74   76   84   82  88
學生4   93   62  100  100  58
學生5   55   76   69   98  51
學生6   85   97   62   86  56
學生7   68   55   57   70  68
學生8   63   67   89   87  91
學生9   61   57   75   72  64
學生10  81   73   54   61  56
學生11  82   63   71   66  51
學生12  67   67   88   84  73
學生13  58   80   77   50  82
學生14  83   57  100   65  53
學生15  77   54   77   58  66
學生16  75   61   97   79  63
學生17  63   85   81   57  94
學生18  74   97   92   50  54
學生19  65  100   54   59  71
學生20  65   76   71   95  58
學生21  52   51   77   71  81
學生22  73   89   93   89  52
學生23  79   80   54   99  99
學生24  83   62   89   79  51
學生25  68   64   50   75  68
學生26  93   95   92   70  75
學生27  68   70   94   64  73
學生28  61   76   60   51  54
學生29  98   67   82   61  97
學生30  92   80   64   63  67
學生31  94   96   54   52  86
學生32  80   86   90   63  55
學生33  87   65   77   80  93
學生34  93   56   69   58  88
學生35  66   53   67   72  69
學生36  56   84   80   69  61
學生37  62   80   91   54  90
學生38  90   95   58   65  61
學生39  69   64   83   80  58
學生40  57   85   72   55  58
學生41  51   60   75   89  76
學生42  84   65   91   81  75
學生43  96   73   95   65  76
學生44  70   91   63   86  96
學生45  51   79   59   57  61
學生46  76   80   82   98  97
學生47  54   55   65   76  96
學生48  52   96   67   73  66
學生49  80   74   80   69  55
學生50  56   57   72   97  96

In [7]:
#透過蘭的選取

df["國文"]
df["英文"]
df[["國文","英文"]]

      國文   英文
學生1   53  100
學生2   79   90
學生3   74   76
學生4   93   62
學生5   55   76
學生6   85   97
學生7   68   55
學生8   63   67
學生9   61   57
學生10  81   73
學生11  82   63
學生12  67   67
學生13  58   80
學生14  83   57
學生15  77   54
學生16  75   61
學生17  63   85
學生18  74   97
學生19  65  100
學生20  65   76
學生21  52   51
學生22  73   89
學生23  79   80
學生24  83   62
學生25  68   64
學生26  93   95
學生27  68   70
學生28  61   76
學生29  98   67
學生30  92   80
學生31  94   96
學生32  80   86
學生33  87   65
學生34  93   56
學生35  66   53
學生36  56   84
學生37  62   80
學生38  90   95
學生39  69   64
學生40  57   85
學生41  51   60
學生42  84   65
學生43  96   73
學生44  70   91
學生45  51   79
學生46  76   80
學生47  54   55
學生48  52   96
學生49  80   74
學生50  56   57

In [ ]:
#透過列index的名稱選取
df.loc["學生1"]
df.loc[["學生1","學生2"]]

     國文   英文  數學  地理  歷史
學生1  53  100  79  62  51
學生2  79   90  81  86  61

In [12]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1]]

     國文   英文  數學  地理  歷史
學生1  53  100  79  62  51
學生2  79   90  81  86  61

In [13]:
df.iloc[:5]
df.iloc[-5:]

      國文  英文  數學  地理  歷史
學生46  76  80  82  98  97
學生47  54  55  65  76  96
學生48  52  96  67  73  66
學生49  80  74  80  69  55
學生50  56  57  72  97  96