In [1]:
import numpy as np

scores = np.random.randint(50, 101,size=(50,5))
scores

array([[ 79,  90,  94,  84,  82],
       [ 77,  62,  86,  85,  79],
       [ 70,  67,  67,  86,  85],
       [ 65,  62,  85,  86,  71],
       [ 54,  58,  88,  56,  68],
       [ 91,  87,  59,  74,  60],
       [ 93,  74,  98,  97,  66],
       [ 72,  50,  98,  50,  65],
       [ 57,  68,  50,  51,  56],
       [ 71,  96,  73,  89,  81],
       [ 83,  78,  56,  94,  64],
       [ 53,  81,  75,  51,  88],
       [ 81,  50,  68,  63,  91],
       [ 82,  78,  87,  91,  62],
       [ 85,  51,  63,  99,  92],
       [ 85,  93,  66,  88,  94],
       [ 52,  76,  93,  54,  59],
       [ 64, 100,  65,  78,  53],
       [ 56,  72,  53,  94,  95],
       [ 61,  81,  82,  70,  57],
       [ 82,  91,  89,  63,  77],
       [ 73,  62,  80,  94,  50],
       [ 72,  53,  56,  65,  96],
       [ 51,  90,  68,  58,  87],
       [ 70,  84,  90,  99,  65],
       [ 63,  68,  65,  81,  93],
       [ 80,  50,  67,  84,  71],
       [ 50,  60,  98,  50,  54],
       [ 62,  60,  70,  55,  59],
       [ 96,  93,  54,  65,  85],
       [ 84,  98,  62,  54,  79],
       [ 85,  91,  59,  99,  71],
       [ 87,  94,  69,  60,  61],
       [ 77,  63,  50,  85,  82],
       [ 73,  63,  69,  62,  90],
       [ 54,  98,  71,  56,  73],
       [ 86,  68,  84,  52,  51],
       [ 77,  66,  79,  98,  96],
       [100,  65,  60,  67,  59],
       [ 50,  60,  74,  83,  68],
       [ 70,  96,  66,  69,  56],
       [ 76,  66,  62,  69,  52],
       [ 79,  84,  95,  95,  88],
       [ 98,  86,  82,  83,  83],
       [ 75,  78,  72,  61,  56],
       [ 84,  85,  75,  78,  57],
       [ 82,  53,  65,  73,  75],
       [ 84,  76,  61,  50,  75],
       [ 69,  59,  68,  96,  63],
       [ 51, 100,  67,  85,  62]], dtype=int32)

In [2]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文", "英文", "數學", "地理", "歷史"]
)
df

       國文   英文  數學  地理  歷史
學生1    79   90  94  84  82
學生2    77   62  86  85  79
學生3    70   67  67  86  85
學生4    65   62  85  86  71
學生5    54   58  88  56  68
學生6    91   87  59  74  60
學生7    93   74  98  97  66
學生8    72   50  98  50  65
學生9    57   68  50  51  56
學生10   71   96  73  89  81
學生11   83   78  56  94  64
學生12   53   81  75  51  88
學生13   81   50  68  63  91
學生14   82   78  87  91  62
學生15   85   51  63  99  92
學生16   85   93  66  88  94
學生17   52   76  93  54  59
學生18   64  100  65  78  53
學生19   56   72  53  94  95
學生20   61   81  82  70  57
學生21   82   91  89  63  77
學生22   73   62  80  94  50
學生23   72   53  56  65  96
學生24   51   90  68  58  87
學生25   70   84  90  99  65
學生26   63   68  65  81  93
學生27   80   50  67  84  71
學生28   50   60  98  50  54
學生29   62   60  70  55  59
學生30   96   93  54  65  85
學生31   84   98  62  54  79
學生32   85   91  59  99  71
學生33   87   94  69  60  61
學生34   77   63  50  85  82
學生35   73   63  69  62  90
學生36   54   98  71  56  73
學生37   86   68  84  52  51
學生38   77   66  79  98  96
學生39  100   65  60  67  59
學生40   50   60  74  83  68
學生41   70   96  66  69  56
學生42   76   66  62  69  52
學生43   79   84  95  95  88
學生44   98   86  82  83  83
學生45   75   78  72  61  56
學生46   84   85  75  78  57
學生47   82   53  65  73  75
學生48   84   76  61  50  75
學生49   69   59  68  96  63
學生50   51  100  67  85  62

In [3]:
#透過蘭的選取

df["國文"]
df["英文"]
df[["國文","英文"]]

       國文   英文
學生1    79   90
學生2    77   62
學生3    70   67
學生4    65   62
學生5    54   58
學生6    91   87
學生7    93   74
學生8    72   50
學生9    57   68
學生10   71   96
學生11   83   78
學生12   53   81
學生13   81   50
學生14   82   78
學生15   85   51
學生16   85   93
學生17   52   76
學生18   64  100
學生19   56   72
學生20   61   81
學生21   82   91
學生22   73   62
學生23   72   53
學生24   51   90
學生25   70   84
學生26   63   68
學生27   80   50
學生28   50   60
學生29   62   60
學生30   96   93
學生31   84   98
學生32   85   91
學生33   87   94
學生34   77   63
學生35   73   63
學生36   54   98
學生37   86   68
學生38   77   66
學生39  100   65
學生40   50   60
學生41   70   96
學生42   76   66
學生43   79   84
學生44   98   86
學生45   75   78
學生46   84   85
學生47   82   53
學生48   84   76
學生49   69   59
學生50   51  100

In [12]:
#透過列index的名稱選取
df.loc["學生1"]
df.loc[["學生1","學生2"]]

     國文  英文  數學  地理  歷史   總分    平均
學生1  79  90  94  84  82  429  85.8
學生2  77  62  86  85  79  389  77.8

In [5]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1]]

     國文  英文  數學  地理  歷史
學生1  79  90  94  84  82
學生2  77  62  86  85  79

In [6]:
df.iloc[:5]
df.iloc[-5:]

      國文   英文  數學  地理  歷史
學生46  84   85  75  78  57
學生47  82   53  65  73  75
學生48  84   76  61  50  75
學生49  69   59  68  96  63
學生50  51  100  67  85  62

In [7]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)
mean

學生1     85.8
學生2     77.8
學生3     75.0
學生4     73.8
學生5     64.8
學生6     74.2
學生7     85.6
學生8     67.0
學生9     56.4
學生10    82.0
學生11    75.0
學生12    69.6
學生13    70.6
學生14    80.0
學生15    78.0
學生16    85.2
學生17    66.8
學生18    72.0
學生19    74.0
學生20    70.2
學生21    80.4
學生22    71.8
學生23    68.4
學生24    70.8
學生25    81.6
學生26    74.0
學生27    70.4
學生28    62.4
學生29    61.2
學生30    78.6
學生31    75.4
學生32    81.0
學生33    74.2
學生34    71.4
學生35    71.4
學生36    70.4
學生37    68.2
學生38    83.2
學生39    70.2
學生40    67.0
學生41    71.4
學生42    65.0
學生43    88.2
學生44    86.4
學生45    68.4
學生46    75.8
學生47    69.6
學生48    69.2
學生49    71.0
學生50    73.0
dtype: float64

In [8]:
df["總分"] = total
df["平均"] = mean
df

       國文   英文  數學  地理  歷史   總分    平均
學生1    79   90  94  84  82  429  85.8
學生2    77   62  86  85  79  389  77.8
學生3    70   67  67  86  85  375  75.0
學生4    65   62  85  86  71  369  73.8
學生5    54   58  88  56  68  324  64.8
學生6    91   87  59  74  60  371  74.2
學生7    93   74  98  97  66  428  85.6
學生8    72   50  98  50  65  335  67.0
學生9    57   68  50  51  56  282  56.4
學生10   71   96  73  89  81  410  82.0
學生11   83   78  56  94  64  375  75.0
學生12   53   81  75  51  88  348  69.6
學生13   81   50  68  63  91  353  70.6
學生14   82   78  87  91  62  400  80.0
學生15   85   51  63  99  92  390  78.0
學生16   85   93  66  88  94  426  85.2
學生17   52   76  93  54  59  334  66.8
學生18   64  100  65  78  53  360  72.0
學生19   56   72  53  94  95  370  74.0
學生20   61   81  82  70  57  351  70.2
學生21   82   91  89  63  77  402  80.4
學生22   73   62  80  94  50  359  71.8
學生23   72   53  56  65  96  342  68.4
學生24   51   90  68  58  87  354  70.8
學生25   70   84  90  99  65  408  81.6
學生26   63   68  65  81  93  370  74.0
學生27   80   50  67  84  71  352  70.4
學生28   50   60  98  50  54  312  62.4
學生29   62   60  70  55  59  306  61.2
學生30   96   93  54  65  85  393  78.6
學生31   84   98  62  54  79  377  75.4
學生32   85   91  59  99  71  405  81.0
學生33   87   94  69  60  61  371  74.2
學生34   77   63  50  85  82  357  71.4
學生35   73   63  69  62  90  357  71.4
學生36   54   98  71  56  73  352  70.4
學生37   86   68  84  52  51  341  68.2
學生38   77   66  79  98  96  416  83.2
學生39  100   65  60  67  59  351  70.2
學生40   50   60  74  83  68  335  67.0
學生41   70   96  66  69  56  357  71.4
學生42   76   66  62  69  52  325  65.0
學生43   79   84  95  95  88  441  88.2
學生44   98   86  82  83  83  432  86.4
學生45   75   78  72  61  56  342  68.4
學生46   84   85  75  78  57  379  75.8
學生47   82   53  65  73  75  348  69.6
學生48   84   76  61  50  75  346  69.2
學生49   69   59  68  96  63  355  71.0
學生50   51  100  67  85  62  365  73.0

In [9]:
five_df = df.iloc[:5]
five_df[five_df["總分"] >= 350]

     國文  英文  數學  地理  歷史   總分    平均
學生1  79  90  94  84  82  429  85.8
學生2  77  62  86  85  79  389  77.8
學生3  70  67  67  86  85  375  75.0
學生4  65  62  85  86  71  369  73.8

In [10]:
df[df["總分"] >= 380]

      國文  英文  數學  地理  歷史   總分    平均
學生1   79  90  94  84  82  429  85.8
學生2   77  62  86  85  79  389  77.8
學生7   93  74  98  97  66  428  85.6
學生10  71  96  73  89  81  410  82.0
學生14  82  78  87  91  62  400  80.0
學生15  85  51  63  99  92  390  78.0
學生16  85  93  66  88  94  426  85.2
學生21  82  91  89  63  77  402  80.4
學生25  70  84  90  99  65  408  81.6
學生30  96  93  54  65  85  393  78.6
學生32  85  91  59  99  71  405  81.0
學生38  77  66  79  98  96  416  83.2
學生43  79  84  95  95  88  441  88.2
學生44  98  86  82  83  83  432  86.4